<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js bg-darker" lang="">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Flame</title>
    <base href="/" />
    <meta name="description" content="Flame application for peer to peer communications.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
	<link rel="icon" href="favicon.ico?v=2" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.7.1/loading-bar.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/metro/3.0.17/css/metro.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/metro/3.0.17/css/metro-colors.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/metro/3.0.17/css/metro-schemes.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/metro/3.0.17/css/metro-icons.min.css"/>
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/metro/3.0.17/css/metro-responsive.min.css"/>-->
    <link rel="stylesheet" href="css/main.css">
</head>

<body ng-app="flame" ng-controller="mainController" presence>
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <div class="splash bg-darker" ng-show="state.loading">
        <h1 class="fg-white">Loading...</h1>
        <div data-role="preloader" data-type="cycle"></div>
    </div>

    <!-- Begin top bar -->
    <div class="app-bar fixed-top darcula bg-darker" ng-show="state.authenticated">
        <span class="app-bar-element branding">Flame Chat</span>
    </div>
    <!-- End top bar -->

    <!-- Begin sidebar -->
    <ul class="sidebar darcula compact" id="sidebar" ng-show="state.authenticated" ng-blur="state.sidebarCompact = true" ng-class="state.sidebarCompact ? 'compact' : ''">
        <li class="">
            <a href="" ng-click="toggleSidebar()">
                <span class="mif-menu icon"></span>
            </a>
        </li>
        <li ng-class="state.activePath === 'conversations' ? 'active' : ''">
            <a href="" ng-click="goto('conversations')">
                <span class="mif-bubbles icon"></span>
                <span class="title">Conversations</span>
            </a>
        </li>
        <li ng-class="state.activePath === 'profile' ? 'active' : ''">
            <a href="" ng-click="goto('profile')">
                <span class="mif-profile icon"></span>
                <span class="title">Profile</span>
            </a>
        </li>
    </ul>
    <!-- End sidebar-->

    <!-- Routed page begin -->
    <div class="frame bg-black" ng-view>
    </div>
    <!-- Routed page end -->

    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.24.2/babel.min.js"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/metro/3.0.17/js/metro.min.js"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.4/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.4/angular-aria.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.4/angular-route.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.4/angular-touch.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.9.0/loading-bar.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-poller/0.4.5/angular-poller.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angularjs-scroll-glue/2.2.0/scrollglue.min.js"></script>
    <script src="js/angular-presence.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/danialfarid-angular-file-upload/12.2.13/ng-file-upload.min.js"></script>

    <script src="js/functions.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers/main-controller.js"></script>
    <script src="js/controllers/auth-controller.js"></script>
    <!--<script src="js/controllers/contacts-controller.js"></script>-->
    <script src="js/controllers/conversations-controller.js"></script>
    <script src="js/controllers/profile-controller.js"></script>
</body>

</html>